/* VARIABLES*/
body {
  margin: 0;
  font-family: 'Roboto'; }

header {
  background-image: url("../imgs/pattern.png");
  background-repeat: repeat; }
  header .page-header {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 95px;
    display: flex; }
    header .page-header .app-title {
      color: #ffffff;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
      padding-top: 10px; }
      header .page-header .app-title .title {
        font-family: 'Pacifico';
        font-style: oblique; }
      header .page-header .app-title .description {
        margin-left: 10px; }
      header .page-header .app-title .platforms-wrapper {
        display: flex; }
        header .page-header .app-title .platforms-wrapper .platform-button {
          text-align: center;
          cursor: pointer;
          background-color: #000000;
          opacity: 0.5;
          border-radius: 50%; }
          header .page-header .app-title .platforms-wrapper .platform-button:hover {
            opacity: 1; }

section .craze-features {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center; }
  section .craze-features .title {
    color: #000000;
    font-weight: 600;
    margin-top: 60px; }
  section .craze-features .description {
    margin-top: 30px;
    color: #a2a2a2; }
  section .craze-features .features {
    padding: 30px 0px 30px 0px; }
    section .craze-features .features .h-row {
      display: flex; }
      section .craze-features .features .h-row .h-line {
        height: 1px;
        background-color: #e7e7e7;
        width: 33%;
        margin: 0px 30px 0px 30px; }
    section .craze-features .features .features-row {
      display: flex; }
      section .craze-features .features .features-row .v-line {
        width: 1px;
        background-color: #e7e7e7;
        margin: 20px 0px 20px 0px; }
      section .craze-features .features .features-row .feature {
        width: 33.3%;
        padding: 35px; }
        section .craze-features .features .features-row .feature .title {
          color: #000000;
          font-weight: 600;
          margin-top: 30px; }
        section .craze-features .features .features-row .feature .description {
          margin-top: 30px;
          color: #a2a2a2; }

section .whats-craze-wrapper {
  background-color: #e7e7e7; }
  section .whats-craze-wrapper .whats-craze {
    margin: 0 auto;
    max-width: 1050px;
    display: flex; }
    section .whats-craze-wrapper .whats-craze .description {
      flex-direction: column; }
      section .whats-craze-wrapper .whats-craze .description .title {
        color: #000000;
        font-weight: 600;
        margin-top: 50px; }
      section .whats-craze-wrapper .whats-craze .description .description {
        margin-top: 30px;
        color: #a2a2a2; }
        section .whats-craze-wrapper .whats-craze .description .description .bullet {
          margin: 15px 0px; }
          section .whats-craze-wrapper .whats-craze .description .description .bullet img {
            margin: 0px 15px 0px; }

section .carousel {
  margin: 0 auto;
  max-width: 1050px; }
  section .carousel .slides .slide {
    max-width: 1050px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 5px;
    transition: opacity 1s;
    text-align: center;
    justify-content: center; }
    section .carousel .slides .slide .text {
      color: #898989;
      font-style: italic;
      padding: 45px; }
    section .carousel .slides .slide .author {
      color: #000000;
      font-weight: bold; }
    section .carousel .slides .slide.active {
      opacity: 1; }
  section .carousel .bullets {
    display: flex;
    align-items: center;
    justify-content: center; }
    section .carousel .bullets .slide-bullet {
      cursor: pointer;
      margin: 2px;
      border: solid 2px #349CE6;
      height: 12px;
      width: 12px;
      background-color: #ffffff;
      border-radius: 50%; }
    section .carousel .bullets .active-bullet {
      background-color: #349CE6; }

section .pricing-wrapper {
  background-color: #e7e7e7;
  text-align: center; }
  section .pricing-wrapper .pricing {
    margin: 0 auto;
    max-width: 1050px; }
    section .pricing-wrapper .pricing .title {
      color: #000000;
      font-weight: 600;
      padding-top: 60px; }
    section .pricing-wrapper .pricing .description {
      color: #a2a2a2; }
    section .pricing-wrapper .pricing .pricing-row {
      display: flex;
      align-items: center; }
      section .pricing-wrapper .pricing .pricing-row .pricing-card {
        margin: 2px;
        margin-top: 30px; }
        section .pricing-wrapper .pricing .pricing-row .pricing-card .header {
          background-color: #349CE6;
          color: #ffffff; }
        section .pricing-wrapper .pricing .pricing-row .pricing-card .body {
          background-color: #ffffff; }
          section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price {
            padding: 15px 0px;
            font-weight: 600;
            display: inline-flex; }
            section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price div {
              line-height: 30px; }
          section .pricing-wrapper .pricing .pricing-row .pricing-card .body .feature {
            border-top: solid 1px #a2a2a2;
            color: #a2a2a2;
            margin: 0px 20px;
            padding: 10px 0px; }
        section .pricing-wrapper .pricing .pricing-row .pricing-card .footer {
          height: 80px;
          background-color: #349CE6;
          color: #ffffff;
          display: flex; }
          section .pricing-wrapper .pricing .pricing-row .pricing-card .footer .button {
            font-weight: 600;
            cursor: pointer;
            margin: auto;
            background-color: #1774b7;
            text-transform: uppercase; }
            section .pricing-wrapper .pricing .pricing-row .pricing-card .footer .button:hover {
              background-color: #1466a0; }

section .say-hi {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center; }
  section .say-hi .title {
    color: #000000;
    font-weight: 600;
    margin-top: 60px; }
  section .say-hi .description {
    margin-top: 30px;
    color: #a2a2a2; }
  section .say-hi .social {
    display: flex;
    justify-content: center; }
    section .say-hi .social .icon {
      cursor: pointer;
      border-radius: 50%;
      background-color: #e7e7e7; }
      section .say-hi .social .icon:hover {
        background-color: #349CE6; }

footer {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer a {
    color: #a2a2a2;
    margin: 0 20px 0 20px;
    text-decoration: none; }
    footer a:hover {
      color: #6f6f6f; }

@media screen and (orientation: landscape) {
  .font1, header .page-header .app-title .title {
    font-size: 80px; }
  .font2, header .page-header .app-title .description, section .craze-features .title, section .craze-features .features .features-row .feature .title, section .whats-craze-wrapper .whats-craze .description .title, section .carousel .slides .slide .text, section .pricing-wrapper .pricing .title, section .say-hi .title {
    font-size: 25px; }
  .font3, section .craze-features .description, section .craze-features .features .features-row .feature .description, section .whats-craze-wrapper .whats-craze .description .description, section .pricing-wrapper .pricing .description, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .feature, section .pricing-wrapper .pricing .pricing-row .pricing-card .footer .button, section .say-hi .description, footer a {
    font-size: 15px; }
  .font4, section .pricing-wrapper .pricing .pricing-row .pricing-card .header {
    font-size: 30px; }
  .font5, section .carousel .slides .slide {
    font-size: 40px; }
  .font6, section .carousel .slides .slide .author {
    font-size: 18px; }
  .font7, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price {
    font-size: 35px; }
  .font8, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price div {
    font-size: 20px; }
  header {
    height: 600px; }
    header .page-header {
      justify-content: space-between; }
      header .page-header .app-title {
        margin-left: 20px; }
      header .page-header .hand {
        margin-left: 50px; }
  .pricing-card .header {
    height: 55px;
    line-height: 55px; }
  .features-row .feature img {
    width: 46px;
    height: 46px; }
  .carousel .bullets {
    height: 100px;
    padding-top: 180px; }
  .platform-button {
    height: 50px;
    width: 50px;
    line-height: 65px;
    margin: 30px 5px 0px 5px; }
  .whats-craze .description {
    text-align: left; }
  .whats-craze .video {
    margin: 50px 0px 40px 30px; }
  .pricing-wrapper {
    height: 560px;
    margin-bottom: 70px; }
    .pricing-wrapper .pricing .description {
      margin-top: 25px; }
    .pricing-wrapper .pricing-card {
      width: 25%; }
      .pricing-wrapper .pricing-card .footer .button {
        line-height: 35px;
        width: 130px;
        height: 35px; }
  .say-hi .social .icon {
    width: 40px;
    height: 40px;
    margin: 20px 0px 40px 5px;
    line-height: 45px; }
  footer {
    height: 130px; } }

@media screen and (orientation: portrait) {
  .font1, header .page-header .app-title .title {
    font-size: 200px; }
  .font2, header .page-header .app-title .description, section .craze-features .title, section .craze-features .features .features-row .feature .title, section .whats-craze-wrapper .whats-craze .description .title, section .carousel .slides .slide .text, section .pricing-wrapper .pricing .title, section .say-hi .title {
    font-size: 40px; }
  .font3, section .craze-features .description, section .craze-features .features .features-row .feature .description, section .whats-craze-wrapper .whats-craze .description .description, section .pricing-wrapper .pricing .description, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .feature, section .pricing-wrapper .pricing .pricing-row .pricing-card .footer .button, section .say-hi .description, footer a {
    font-size: 30px; }
  .font4, section .pricing-wrapper .pricing .pricing-row .pricing-card .header {
    font-size: 60px; }
  .font5, section .carousel .slides .slide {
    font-size: 60px; }
  .font6, section .carousel .slides .slide .author {
    font-size: 30px; }
  .font7, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price {
    font-size: 60px; }
  .font8, section .pricing-wrapper .pricing .pricing-row .pricing-card .body .price div {
    font-size: 45px; }
  header .page-header {
    flex-direction: column; }
    header .page-header .app-title {
      text-align: center; }
      header .page-header .app-title .platforms-wrapper {
        justify-content: center; }
    header .page-header .hand {
      margin: auto; }
  .craze-features .description {
    padding: 0 30px; }
  .features-row .feature img {
    width: 100px;
    height: 100px; }
  .carousel .bullets {
    height: 150px;
    padding-top: 250px; }
  .platform-button {
    width: 150px;
    height: 150px;
    line-height: 200px;
    margin: 30px 5px 100px 5px; }
    .platform-button img {
      width: 50px;
      height: 57px; }
  .whats-craze {
    flex-direction: column-reverse;
    padding: 30px; }
    .whats-craze .description {
      text-align: center; }
    .whats-craze .video {
      margin: 0 auto; }
  .pricing-wrapper {
    height: 100%;
    padding-bottom: 50px; }
    .pricing-wrapper .pricing .description {
      margin: 30px 20px; }
    .pricing-wrapper .pricing-row {
      flex-direction: column; }
      .pricing-wrapper .pricing-row .pricing-card {
        width: 80%; }
        .pricing-wrapper .pricing-row .pricing-card .footer .button {
          line-height: 50px;
          width: 200px;
          height: 50px; }
  .say-hi .social .icon {
    width: 80px;
    height: 80px;
    margin: 20px 0px 40px 10px;
    line-height: 110px; }
    .say-hi .social .icon img {
      width: 50%;
      height: 50%; }
  footer {
    flex-direction: column;
    padding: 20px 0px; } }
